<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>pay</title>
<link rel="stylesheet" href="static/style.css">
<link rel="shortcut icon" type="image/x-icon" href="static/img/logo-web.jpeg"/>
</head>
    
    
    
    <body>
        <br><br><br>
        
        
        <center>
            
            
            <form>
            
            
            
        <div class="box-1">
            <br><br>
            <img src="static/img/s-dargah.png">
            
            <h1>درگاه مالی یک پارچه با پروتکل های پرداخت امن</h1>
            
            <img src="static/img/img-2.png">
            
            
            
            
            <div class="box-2">
                
                <p class="p-r">
                    
                    شماره کارت 17 رقمی خود را وارد کنید
                    
                    
                    <a>....</a>
                    
                    
                </p>
                
                
                
                <input type="text" class="input-cart" placeholder="XXXX">
                <input type="text" class="input-cart" placeholder="XXXX">
                <input type="text" class="input-cart" placeholder="XXXX">
                <input type="text" class="input-cart" placeholder="XXXX">
                <br>
                <p class="p-r">
                    
                    شماره تلفن هود را بدون 0 وارد کنید
                    
                    <a>....</a>
                    
                    
                </p>
                
                <input type="text" class="input-phone" placeholder="+98 xxx xxx xx xx">
                
                
                
                <br>
                <p class="p-r">
                    
                    مبلغ را به تومان وارد کنید
                    
                    <a>
                    ....
                    </a>
                    
                </p>
                
                
                <img src="static/img/img-kif.png">
                <a>....</a>
                <input type="text" class="input-mablagh" placeholder="{{ sum_product }}">
                <br>
                
                <p>
                <input type="checkbox">
                    درخواست رمز پویا پیامکی
                </p>
                
                
                
            </div>
            
            <br>
            <input type="submit" value="ادامه پرداخت" class="input-submit">
            
            
            
        </div>
            
            </form>
                
            </center>
            
            
    </body>
    
    
    
    
</html>